// VARIABLES PARA BOOTSTRAP
$custom-colors: (
    "custom-primary": rgb(114, 31, 246),
    "custom-secondary": rgb(133, 96, 193),
);

// VARIABLES PERSONALIZADAS

$bg-light: #f7f7f7;
$text-dark: #000;
$text-gray: #666;